.principal {
  -fx-background-color: white;
  -fx-spacing: 5px;
  -fx-padding: 40px 28px 28px 28px;
}

.entrada {
  -fx-alignment: center;
  -fx-font-size: 18px;
  -fx-font-family: "DejaVu Sans Mono";

  -jfx-unfocus-color: #807d7d;
  -jfx-label-float: true;
}

.error {
  -fx-text-fill: #f44336;
}

.btn-evaluar {
  -fx-background-color: #4059a9;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-pref-width: 100px;
  -fx-pref-height: 40px;
}

.btn-simbolo {
  -fx-pref-height: 45px;
  -fx-pref-width: 45px;
  -fx-focus-traversable: false;
  -fx-font-size: 20px;
  -fx-font-family: "DejaVu Sans Mono";
  -fx-text-fill: #757575;
}

.btn-parentesis {
  -fx-text-fill: #4059a9;
  -fx-font-weight: bold;
}

.btn-accion {
  -fx-background-radius: 20px;
  -fx-font-weight: bold;
}

.btn-navegacion {
  -fx-background-color: #ececec;
}

.btn-del {
  -fx-background-color: #ececec;
}

.btn-limpiar {
  -fx-background-color: #f44336;  
  -fx-text-fill: white;
  -fx-font-weight: bold;
}

separator {
  -fx-opacity: 0.6;
}

.icono {
  -fx-fill: #FE774D;
  -fx-padding: 10.0;
  -fx-cursor: hand;
}

.icono-rippler {
  -jfx-rippler-fill: #FE774D;
  -jfx-mask-type: CIRCLE;
}